.directory
*.sif
__pycache__/
pipeline/_sql_db_config.py
pipeline/venv/
pipeline/.venv/
.venv/
*.wt
*.lock
!poetry.lock
scripts/*.csv
tsdb/
mgdb/
nmdb/
res/debug.log
metrics/
email_downloader_res/*
cosmoz_influx_backup/
cosmoz_mongo_backup/

app_scripts.env

cosmoz_rest_wrapper.env

email_downloader.env
